.main {
    background: #F7F7F7;
}

.is-fullheight.columns {
    min-height: calc(100vh - 6.75rem);
}

.is-fullwidth.columns {
    width: 100%;
}

.is-fullheight.main {
    min-height: calc(100vh - 6.75rem);
}

.is-fullheight.section {
    min-height: calc(100vh - 6.75rem);
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-card{
    padding: 0;
    border-radius: 5px;

    header {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .no-space {
        margin: 0!important;
    }

    .field:last-of-type{
        margin-bottom: 1.5rem;
    }

    .card-header {
        .card-header-title {
            font-size: 1.2rem;
            font-weight: lighter;
        }
    }
}

.footer{
    height: 5vh;
}

.hero.is-fullheight-with-navbar{
    min-height: calc(100vh - 6.75rem);
}

.blog-hero {
    border-radius: 5px;
}

.custom-box {
    border-radius: 5px;
    padding: 0;

    .table-container {
        border-radius: 5px;
    }
}

.panel {
    .panel-block {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}

th {
    font-weight: lighter;
}
